@import url('https://fonts.googleapis.com/css2?family=Montserrat');

@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-Regular.woff2') format('woff2'),
         url('/fonts/Telegraf-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-Medium.woff2') format('woff2'),
         url('/fonts/Telegraf-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-Black.woff2') format('woff2'),
         url('/fonts/Telegraf-Black.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */
  
@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-Bold.woff2') format('woff2'),
         url('/fonts/Telegraf-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-SemiBold.woff2') format('woff2'),
         url('/fonts/Telegraf-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-UltraBold.woff2') format('woff2'),
         url('/fonts/Telegraf-UltraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-Italic.woff2') format('woff2'),
         url('/fonts/Telegraf-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
  
@font-face {
    font-family: 'Telegraf';
    src: url('/fonts/Telegraf-BoldItalic.woff2') format('woff2'),
         url('/fonts/Telegraf-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

* {
    font-family: 'Telegraf', 'Montserrat', sans-serif;
}
