@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --accent: rgba(50, 255, 181, 1);
}
html {
    background: #141414;
    color: #FFFFFF;
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

* {
    font-family: 'IBM Plex Mono', monospace;
}
p, ul, ol, li {
    font-family: "IBM Plex Sans", sans-serif;
}
ol {
    list-style: none;
    counter-reset: list-counter;
    padding-left: 0;
}

ol li {
    counter-increment: list-counter; /* Increment the counter for each item */
    position: relative; /* Position relative to allow absolute positioning inside */
    padding-left: 2rem;
}

ol li::before {
    content: counter(list-counter, decimal-leading-zero) "."; /* Format the counter with leading zero */
    left: 0; /* Adjust based on your design */
    position: absolute;
    text-align: right;
    color: var(--accent);
}
@media (min-width: 768px) {
    .portable-text-columns {
        column-count: 2; /* Creates two columns */
        column-gap: 2rem; /* Adjusts the gap between columns */
        /* Add additional styling as needed */
    }
}
