---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
---

<Layout title="Welcome to the Loomery lab.">

	<section
		class="flex flex-col justify-center items-center space-y-8 text-center h-screen bg-[url('/')] bg-cover bg-center m-0">
		<h1 class="text-6xl font-bold">Welcome to the <b class="text-brand-dark">Loomery</b> lab</h1>
		<h3 class="text-4xl">See what we are experimenting with</h3>
	</section>

	<Showcase icons={["/ML.svg", "/XR.svg" ]} title1="GenML" divider="x" title2="XR" subtitle="Introducing StorySight"
		platform="Apple Vision Pro" videoSrc="https://player.vimeo.com/video/844899766?h=ab41a358f5&autoplay=1&loop=1"
		description="StorySight is an experience that combines XR and GenML that allows you to be inside the story, experiencing books in a whole new dimension. StorySight is an example of how GenML can be married up with spatial computing to create new experiences."
		learnMoreLink="#" />

	<Showcase icons={["/ML.svg"]} title1="Machine Learning" subtitle="Generate narration for ANY video"
		platform="iOS" videoSrc="https://player.vimeo.com/video/899177107?h=ab41a358f5&autoplay=1&loop=1"
		description="Generate cool voiceoevers to your videos in any style your like. This is me doing callisthenics in the video with narration in the style of Alan Partrige doing a eulogy."
		learnMoreLink="#" />

	<Showcase icons={["/XR.svg"]} title1="Extended Reality" subtitle="Your personalised shopping experience with XR"
		platform="Apple Vision Pro" videoSrc="https://player.vimeo.com/video/899182055?h=ab41a358f5&autoplay=1&loop=1"
		description="StorySight is an experience that combines XR and GenML that allows you to be inside the story, experiencing books in a whole new dimension. StorySight is an example of how GenML can be married up with spatial computing to create new experiences."
		learnMoreLink="#" />

	<section class="space-y-16 mt-44 md:mt-96">
		<div class="flex flex-col md:grid md:grid-cols-2 gap-8">
			<div>
				<img src="path/to/your/image.jpg" alt="ML related image" class="w-full h-auto">
			</div>
			<div>
				<h2 class="text-2xl font-bold">Generative Machine Learning</h2>
				<p class="mt-2">This is some text.</p>
			</div>
		</div>

		<div class="flex flex-col-reverse md:grid md:grid-cols-2 gap-8">
			<div>
				<h2 class="text-2xl font-bold">Spatial Computing</h2>
				<p class="mt-2">This is some text.</p>
			</div>
			<div>
				<img src="path/to/your/image.jpg" alt="XR related image" class="w-full h-auto">
			</div>
		</div>
	</section>

</Layout>