---
import type { Image } from 'sanity';
import { urlForImage } from '../../sanity/urlForImage';

interface Props {
  title: string;
  tags: string;
  heroImage: Image;
  link: string;
}

const {
title,
tags,
heroImage,
link
} = Astro.props;
---

<a href={link}>
    <div class="space-y-4 text-left">
        <img class="aspect-square object-cover h-72" src={urlForImage(heroImage).url()} />
        <h4 class="text-accent text-sm">{tags}</h4>
        <h3 class="text-xl">{title}</h3>
    </div>
</a>
