---
import type { Image } from 'sanity';
import { urlForImage } from '../../sanity/urlForImage';

interface Props {
  title: string;
  heroImage: Image;
  link: string;
}

const {
title,
heroImage,
link
} = Astro.props;
---

<a href={link}>
    <div class="space-y-4">
        <img class="aspect-square object-cover h-72" src={urlForImage(heroImage).url()} />
        <h3 class="text-xl">{title}</h3>
    </div>
</a>
