---
import { urlForImage } from '../sanity/urlForImage';
import type { Actions } from '../utils/sanity';
import PortableText from './PortableText/PortableText.astro';

interface Props {
actions: Actions;
}

const { actions } = Astro.props;
---

<section class="grid gap-16 space-y-20 md:grid-cols-1">
    {actions.actions.map((action, index) => (
        <div class="flex flex-col md:grid md:grid-cols-2 md:gap-16">
            {/* Image Block */}
            <div data-aos="fade-in" data-aos-delay={`${index % 2 === 0 ? '0' : '200'}`}
                 class={`${index % 2 === 0 ? 'md:order-first' : 'md:order-last'}`}>
                <img src={urlForImage(action.image).url()} alt="" class="w-full h-auto rounded-lg mb-8 md:mb-0" />
            </div>

            {/* Text Block */}
            <div data-aos="fade-in" data-aos-delay={`${index % 2 === 0 ? '200' : '0'}`}
                 class={`space-y-8 text-lg leading-relaxed ${index % 2 === 0 ? 'md:order-last' : 'md:order-first'}`}>
                <h2 class="text-3xl">{action.heading}</h2>
                <PortableText portableText={action.content} />
            </div>
        </div>
    ))}
</section>
