---
interface Action {
title: string;
imgSrc: string;
paragraphs: string[];
}

interface Props {
actions: Action[];
}

const { actions } = Astro.props;
---

<section class="grid gap-16 md:grid-cols-1">
    {actions.map((action, index) => (
        <div class="flex flex-col md:grid md:grid-cols-2 md:gap-16">
            {/* Text Block */}
            <div data-aos="fade-in" data-aos-delay={`${index % 2 === 0 ? '200' : '0'}`}
                 class={`space-y-8 text-lg leading-relaxed ${index % 2 === 0 ? 'md:order-last' : 'md:order-first'}`}>
                <h2 class="text-3xl">{action.title}</h2>
                {action.paragraphs.map((paragraph, i) => (
                    <p>{paragraph}</p>
                ))}
            </div>

            {/* Image Block */}
            <div data-aos="fade-in" data-aos-delay={`${index % 2 === 0 ? '0' : '200'}`}
                 class={`${index % 2 === 0 ? 'md:order-first' : 'md:order-last'}`}>
                <img src={action.imgSrc} alt="" class="w-full h-auto rounded-lg mb-8 md:mb-0" />
            </div>
        </div>
    ))}
</section>
