---
import Break from "./Break.astro";
---

<footer class="max-w-7xl xl:mx-auto m-4 space-y-8">
    <Break />

    <section class="grid md:grid-cols-2 gap-12 md:gap-32">
        <div class="space-y-4">
            <h2 class="text-3xl">Ready for a chat?</h2>
            <p class="text-lg font-light">
                Loomery can help you build great products with cutting edge tools and technologies like this!
            </p>
            <div>
                <a class="underline text-xl text-accent" href="https://www.loomery.com/contact-us">
                    Get in touch
                </a>
            </div>
        </div>

        <div class="space-y-4">
            <h2 class="text-3xl">Follow Loomery</h2>
            <p class="text-lg font-light">
                Stay in the loop by following us on social media, and subscribing to our newsletter:
            </p>
            <div class="text-accent text-xl grid md:grid-cols-2 lg:grid-cols-4 gap-8 underline">
                <a target="_blank" href="https://www.linkedin.com/company/loomery">
                    LinkedIn
                </a>
                <a target="_blank" href="https://twitter.com/loomeryteam">
                    Twitter
                </a>
                <a target="_blank" href="https://www.loomery.com/newsletter">
                    Newsletter
                </a>
            </div>
        </div>
    </section>

    <a class="flex justify-center pt-4" target="_blank" href="https://loomery.com">
        <img class="w-32" src="/loomery-gray.svg" />
    </a>
</footer>
