<footer class="m-16 mt-40 space-y-16">
    <section class="grid md:grid-cols-2 gap-32">
        <div class="space-y-4">
            <h2 class="text-3xl">Ready for a chat?</h2>
            <p class="text-lg font-thin">
                Loomery can help you build great products with cutting edge tools and technologies like this!
            </p>
            <h2 class="underline text-xl text-accent">Get in touch</h2>
        </div>

        <div class="space-y-4">
            <h2 class="text-3xl">Follow Loomery</h2>
            <p class="text-lg font-thin">
                Stay in the loop by following us on social media, and subscribing to our newsletter:
            </p>
            <div class="text-accent text-xl grid md:grid-cols-2 lg:grid-cols-3 gap-8 underline font-light">
                <a target="_blank" href="https://www.linkedin.com/company/loomery">
                    LinkedIn
                </a>
                <a target="_blank" href="https://twitter.com/loomeryteam">
                    Twitter
                </a>
                <a target="_blank" href="https://www.loomery.com/newsletter">
                    Newsletter
                </a>
            </div>
        </div>
    </section>

    <a class="flex justify-center" target="_blank" href="https://loomery.com">
        <img class="w-32" src="/loomery-gray.svg" />
    </a>
</footer>
