---
import TitleDetail from '../layouts/TitleDetail.astro';
import { urlForImage } from '../sanity/urlForImage';
import type { UseCase } from '../utils/sanity';
import PortableText from './PortableText/PortableText.astro';

interface Props {
title: string,
useCases: UseCase[],
};

const {
title,
useCases
} = Astro.props;
---

<TitleDetail title={title}>
    <section class="grid gap-12 md:grid-cols-2">
        {useCases.map(useCase => (
        <div class="space-y-8">
            <div class="space-y-4" data-aos="fade-in" data-aos-delay="200">
                <h1 class="text-xl">{useCase.heading}</h1>
                <PortableText portableText={useCase.content} class:list={'text-lg font-light'} />
            </div>

            <img src={urlForImage(useCase.image).url()} class="rounded-lg" data-aos="fade-in">
        </div>
        ))}
    </section>
</TitleDetail>