<header>
    <div class="p-8 md:px-32 md:py-16">
        <nav class="text-brand-light flex md:flex-row justify-between items-center">
            <a href="https://loomery.com" class="px-4"><img src="/Loomery.svg"></a>

            <div class="hidden md:block">
                <a href="https://loomery.com" class="px-4">Back to Loomery.com</a>
            </div>
            <div class="md:hidden">
                <a href="https://loomery.com">
                    <!-- Home icon -->
                    <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 002 0v-6a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 002 0V10m-9 5a1 1 0 11-2 0 1 1 0 012 0z" />
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</header>
