<header class="xl:max-w-7xl xl:mx-auto">
    <div class="p-8 md:px-32 md:py-16">
        <nav class="text-brand-light flex md:flex-row justify-between items-center">
            <a href="https://loomery.com" class="px-4 w-36"><img src="/Loomery.svg"></a>

            <div class="hidden lg:block">
                <a href="https://loomery.com/team" class="px-4 hover:text-accent">Team</a>
                <a href="https://loomery.com/services" class="px-4 hover:text-accent">Services</a>
                <a href="https://www.loomery.com/case-studies" class="px-4 hover:text-accent">Work</a>
                <a href="https://loomery.com/insights" class="px-4 hover:text-accent">Insights</a>
                <a href="https://lab.loomery.com" class="px-4 text-accent">LAB</a>
                <a href="https://loomery.com/join-us" class="px-4 hover:text-accent">Join us</a>

                <a href="https://loomery.com/contact-us" class="p-4 bg-accent rounded-full font-semibold text-black">
                    Get in touch
                </a>
            </div>
            <div class="lg:hidden">
                <a href="https://loomery.com">
                    <!-- Home icon -->
                    <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 002 0v-6a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 002 0V10m-9 5a1 1 0 11-2 0 1 1 0 012 0z" />
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</header>
