<header>
    <div class="xl:max-w-7xl mx-4 xl:mx-auto md:py-6">
        <nav class="text-brand-light flex md:flex-row justify-between items-center">
            <a href="https://loomery.com" class="text-xl">Loomery Lab</a>

            <div class="hidden space-x-2 lg:block">
                <span class="space-x-2">
                    <a href="https://loomery.com/team" id="scrambleText" class="px-4 py-2 rounded-full ring-1 ring-bg-light hover:ring-accent transition duration-300 ease-in-out">Team</a>
                    <a href="https://loomery.com/services" id="scrambleText" class="px-4 py-2 rounded-full ring-1 ring-bg-light hover:ring-accent transition duration-300 ease-in-out">Services</a>
                    <a href="https://www.loomery.com/case-studies" id="scrambleText" class="px-4 py-2 rounded-full ring-1 ring-bg-light hover:ring-accent transition duration-300 ease-in-out">Work</a>
                    <a href="https://loomery.com/insights" id="scrambleText" class="px-4 py-2 rounded-full ring-1 ring-bg-light hover:ring-accent transition duration-300 ease-in-out">Insights</a>
                    <a href="https://loomery.com/join-us" id="scrambleText" class="px-4 py-2 rounded-full ring-1 ring-bg-light hover:ring-accent transition duration-300 ease-in-out">Join us</a>
                </span>
                <a href="https://loomery.com/contact-us" class="px-4 py-2 rounded-full ring-1 ring-white">
                    Get in touch
                </a>
            </div>
            <div class="lg:hidden">
                <a href="https://loomery.com">
                    <!-- Home icon -->
                    <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 002 0v-6a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 002 0V10m-9 5a1 1 0 11-2 0 1 1 0 012 0z" />
                    </svg>
                </a>
            </div>
        </nav>
    </div>
    <hr class="h-px border-0 bg-gray-500">

    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const links = document.querySelectorAll('nav span a'); // Select all <a> tags within the navbar
      
          links.forEach((link) => { // Iterate over each <a> tag
            let originalText = link.textContent; // Get original text from the link
            let isRotating = false; // Flag to indicate if rotation is in progress for this link
      
            link.addEventListener('mouseenter', () => {
              if (isRotating) return; // If already rotating, do nothing
              isRotating = true; // Set flag to indicate rotation has started
              originalText = link.textContent; // Update original text in case it has changed
              const rotateText = (text: string) => text.substring(1) + text.charAt(0); // Rotate function
      
              const intervalId = setInterval(() => {
                link.textContent = rotateText(link.textContent || '');
              }, 100); // Rotate text every 100 milliseconds
      
              setTimeout(() => {
                clearInterval(intervalId); // Stop rotating
                link.textContent = originalText; // Revert to original text
                isRotating = false; // Reset flag as rotation is complete
              }, 2000); // After 2 seconds
            });
          });
        });
      </script>
</header>
