---
const {
icons = [],
title1,
divider = "",
title2 = "",
} = Astro.props;
---

<section class="flex flex-col justify-center items-center text-center space-y-8 md:space-y-16 mt-20 md:mt-44 lg:mt-96">
    <div class="flex flex-wrap justify-center space-x-4 md:space-x-8" data-aos="zoom-in">
        {icons.map((icon: string) => (
        <img class="h-12 md:h-24" src={icon} />
        ))}
    </div>

    <div data-aos="fade-in">
        <h1 class="text-4xl md:text-8xl mb-8 md:mb-16 tracking-wide">{title1} <b
            class="text-accent font-bold">{divider}</b> {title2}</h1>
    </div>

    <slot />
</section>