---
interface Props {
    src: string,
};

const { src } = Astro.props;
---

<section class="flex flex-col items-center space-y-8">
    <h1 class="text-4xl" data-aos="fade-in">The prototype</h1>
    <iframe src={src} 
    class="aspect-video w-full" 
    allow="autoplay; fullscreen"
    allowfullscreen data-aos="fade-in" />
</section>
