---
import Prototype from '../../layouts/Prototype.astro';
---

<Prototype title="Storysight" subtitle="Be inside the story" heroSrc='/Storysight-Hero.png'>
    <section class="flex flex-col items-center">
        <div class="flex flex-row space-x-4 p-12">
            <img class="h-16" src="/ML.svg">
            <img class="h-16" src="/XR.svg">
        </div>

        <section class="grid grid-cols-1 md:grid-cols-3 gap-16">
            <div>
                <h1 class="text-3xl">Key technologies</h1>
                <ul class="text-lg space-y-2 py-4">
                    <li>Generative machine learning</li>
                    <li>Extended reality</li>
                </ul>
            </div>
        
            <div>
                <h1 class="text-3xl">Tools</h1>
                <ul class="text-lg space-y-2 py-4">
                    <li>Skybox AI</li>
                    <li>Xcode - RealityKit, SwiftUI</li>
                </ul>
            </div>
        
            <div>
                <h1 class="text-3xl">Features</h1>
                <ul class="text-lg space-y-2 py-4">
                    <li>Fully immersive books</li>
                    <li>Extended reality</li>
                </ul>
            </div>
        </section>
    </section>
</Prototype>