---
import Prototype from '../../layouts/Prototype.astro';
import Summary from '../../components/Summary.astro';
import Goals from '../../components/Goals.astro';
import ActionsSection from '../../components/ActionsSection.astro';
import ImageAndDetail from '../../components/ImageDetail.astro';
import LargeCTACard from '../../components/LargeCTACard.astro';
import VimeoView from '../../components/VimeoView.astro';
import Testimonies from '../../components/Testimonies.astro';
import type { Developer } from '../../utils/sanity';

const developers: Developer[] = [
    {
    name: "Tom Holmes",
    website: "",
    _type: 'developerType',
    _id: '',
    image: {
        src: '',
        alt: ''
    }
},
]
---

<Prototype slug="storysight" title="Jump inside the story with Storysight"
    subtitle="Pairing GenML and spatial computing for a truely unique and immersive reading expirience"
    heroSrcArray={[
        '/storysight/war-storysight.png', 
        "/storysight/wizOz.png", 
        "/storysight/greatGaz.png",
        "/storysight/warNPeace.png",
        ]}>

    <Summary icons={["/ML.svg", "/XR.svg"]} technologies={[
        "Generative machine learning",
        "Virtual reality"
    ]} tools={[
        "Skybox AI",
        "GPT-4",
        "Xcode - RealityKit, SwiftUI"
    ]} features={[
        "Fully immersive books",
        "A new dimension for content consuption",
        "AI assistance with understanding writing techniques and the story"
    ]} developers={developers} />

    <Goals 
        title='Why did we build Storysight?' 
        goals={[
            "Find out what we could build if we married up generative machine learning and spatial computing", 
            "Toy with the new visionOS and find out what would make a great reading experience on this new platform",
            "Create a glimpse for what content consumption could look like in the near future with the recent advancements in machine learning and spatial computing",
    ]} />

    <ActionsSection actions={[
        {
            title: 'Dreamweaving AI Worlds',
            paragraphs: [
                "Most people know that GenML can be used to generate images, but what about 360 degree panoramas? That's where Blockade Labs' Skybox AI comes in. It's a tool that can generate a 360 degree panorama of a scene from a text description.",
                "Looking to optimise for the best possible results, we used GPT-4 to condense the text from the chapter into a descriptive summary of the setting. We then fed this summary into Skybox AI to generate a skybox image of the setting.",
            ],
            imgSrc: '/storysight/sci-fi.png'
        },
        {
            title: 'Ensuring quality generative content',
            paragraphs: [
                "As mentioned, we used GPT-4 to provide a descriptive summary of the setting. This allowed us to ensure that the skybox image generated had to most detailed prompt possible minimsing loss of any key details.",
                "Skybox AI has tricks like placing paraentheses around keywords to emphasis them, so we primed GPT to do this. This allowed us to ensure that the most important details were not lost in the generative process.",
            ],
            imgSrc: '/storysight/skybox-empty.gif'
        },
        {
            title: 'Placing the user in the content',
            paragraphs: [
                "In Xcode, we used RealityKit to create a sphere and place the skybox image onto it. We then placed the sphere in the scene with the user at the centre.",
                "This was done by instantiating a ModelComponent with a sphere mesh with 1000m radius and a Material with the skybox image. We then added the ModelComponent to the scene and set the camera to the user's position. This ends up being what the user sees in app.",
            ],
            imgSrc: '/storysight/VP Skybox.gif'
        },
        {
            title: 'AI powered reading assistant',
            paragraphs: [
                "To add even more AI to the mix, we are using GPT-4 to provide a reading assistant. This was done by feeding the text of the chapter into GPT-4 and allowing the user to ask questions about the book.",
                "The assistant avoids story spoilers and going off topic with a system prompt via the OpenAI API. This allows the user to ask questions like 'Give my a brief recap of events leading up to this chapter' or 'Provide details for each of the charaters in this chapter' and get a response without revealing too much about the book as to give anything away.",
            ],
            imgSrc: '/storysight/reading-assistant.png'
        },
    ]} />

    <section class="flex flex-col items-center">
        <h1 class="text-5xl p-8" data-aos="fade-in">The stack</h1>

        <div class="p-16 space-y-16 flex flex-col items-center">
            <div class="flex flex-col text-center items-center max-w-lg">
                <img src="/openai.svg" class="h-32" data-aos="fade-in">
                <h3 class="text-2xl p-4" data-aos="fade-up">GPT-4</h3>
                <p class="text-lg" data-aos="fade-up">
                    Condense the text from the chapter into a descriptive summary of the setting. 
                </p>
            </div>

            <img src="/down.svg" class="h-24" data-aos="fade-down">

            <div class="flex flex-col text-center items-center max-w-lg">
                <img src="/storysight/blockade.jpg" class="max-h-48 rounded-lg" data-aos="fade-in">
                <h3 class="text-2xl p-4" data-aos="fade-up">Skybox AI</h3>
                <p class="text-lg" data-aos="fade-up">
                    Feed the description into Skybox AI to generate a skybox image of the setting.
                </p>
            </div>

            <img src="/down.svg" class="h-24" data-aos="fade-down">

            <div class="flex flex-col text-center items-center max-w-lg">
                <div class="aspect-w-16 aspect-h-9">
                    <img src="/vision-pro.png" class="aspect-content max-h-48 rounded-lg" data-aos="fade-in">
                </div>
                <h3 class="text-2xl p-4" data-aos="fade-up">visionOS</h3>
                <p class="text-lg" data-aos="fade-up">
                    Project the skybox image onto a static sphere programmatically and place it in the scene with the user at the centre.
                </p>
            </div>
        </div>
    </section>

    <VimeoView src='https://player.vimeo.com/video/844899766?h=ab41a358f5&autoplay=0&loop=0' />

    <ImageAndDetail title="Beyond books" prototypeName="Storysight" 
    details={[
        {
            imageSrc: "/storysight/Spatial Journalism.webp",
            title: "Spatial Journalism",
            paragraphs: [
                "Imagine being transported to the scene of a news article or blog post. You could be in the middle of a protest or at the scene of a natural disaster. This could be a new way to consume news.",
                "This can give a new perspective on the news and allow the reader to feel more connected to the story. It could also be used to provide a more immersive experience for readers who are visually impaired.",
            ]
        },
        {
            imageSrc: "/storysight/Spatial documentary.webp",
            title: "Immersive Documentaries",
            paragraphs: [
                "Documentaries could be taken to the next level with a Storysight-like spatial app. Picture being in the middle of a historical event or at the scene of a scientific discovery or standing among pre-historic dinosaurs.",
                "This would offer a new dimension to the learning experience and could help people to better understand the subject matter especially for readers with learning diffculties such as dyslexia.",
            ]
        },
    ]} />

    <Testimonies testimonies={[
        {
            quote: "There is a lot of potential for new and exciting products in this space and I think Storysight proves that",
            author: "Tom Holmes, Software Engineer @ Loomery"
        },
        {
            quote: "This is so good",
            author: "Brett Thornton, Co-Founder @ Loomery"
        },
        {
            quote: "I like pretty pictures",
            author: "John Doe, Secret Agent @ MI6"
        },
    ]} />

    <LargeCTACard href='https://apps.apple.com/gb/app/storysight/id6476205286' bgColor='bg-slate-700'>
        <img src="/storysight/icon.png" class="w-52 rounded-full mx-auto m-8">
        <h1 class="text-4xl transition duration-300 ease-in-out">Try Storysight for yourself!</h1>
        <p class="text-lg transition duration-300 ease-in-out">
            We have the full version of Storysight available on the App Store today. Jump into the story and see what it's like to be inside the book.
        </p>
        <img src="/AppStoreBadge.svg" class="mx-auto w-40">
    </LargeCTACard>
</Prototype>
