---
import Prototype from '../../layouts/Prototype.astro';
import Summary from '../../components/Summary.astro';
---

<Prototype filename="storysight" title="Jump inside the story with Storysight"
    subtitle="Pairing GenML and spatial computing for a truely unique and immersive reading expirience"
    heroSrc='/storysight/war-storysight.png'>

    <Summary icons={["/ML.svg", "/XR.svg"]} technologies={[
        "Generative machine learning",
        "Virtual reality"
    ]} tools={[
        "Skybox AI",
        "GPT-4",
        "Xcode - RealityKit, SwiftUI"
    ]} features={[
        "Fully immersive books",
        "A new dimension for content consuption",
        "AI assistance with understanding writing techniques and the story"
    ]} />

    <section class="flex flex-col items-center">
        <h2 class="text-5xl p-8 text-center" data-aos="fade-in">The inspiration for building Storysight</h2>
        <div class="flex flex-col-reverse md:grid md:grid-cols-2 gap-8">
            <div class="space-y-8 text-lg leading-relaxed" data-aos="fade-in" data-aos-delay="0">
				<p>
                    Off the back of WWDC23's Apple Vision Pro reveal and the release of GPT-4 along with stable diffusion models eariler in the year, 
                    we wanted to explore the possibilities for new experiences that would sit at the crossroads of generative machine learning and spatial computing. 
                </p>
                <p>
                    We wanted to see how we could use these technologies to create a new way of consuming content.
                </p>
			</div>
			<div data-aos="fade-in" data-aos-delay="200">
				<img src="/storysight/sci-fi.png" class="w-full h-auto rounded-lg">
			</div>
		</div>
    </section>

    <section class="flex flex-col items-center">
        <h1 class="text-5xl p-8" data-aos="fade-in">The stack</h1>

        <div class="p-16 space-y-16 flex flex-col items-center">
            <div class="flex flex-col text-center items-center max-w-lg">
                <img src="/openai.svg" class="h-32" data-aos="fade-in">
                <h3 class="text-2xl p-4" data-aos="fade-up">GPT-4</h3>
                <p class="text-lg" data-aos="fade-up">
                    Condense the text from the chapter into a descriptive summary of the setting. 
                </p>
            </div>

            <img src="/down.svg" class="h-24" data-aos="fade-down">

            <div class="flex flex-col text-center items-center max-w-lg">
                <img src="/storysight/blockade.jpg" class="max-h-48 rounded-lg" data-aos="fade-in">
                <h3 class="text-2xl p-4" data-aos="fade-up">Skybox AI</h3>
                <p class="text-lg" data-aos="fade-up">
                    Feed the description into Skybox AI to generate a skybox image of the setting.
                </p>
            </div>

            <img src="/down.svg" class="h-24" data-aos="fade-down">

            <div class="flex flex-col text-center items-center max-w-lg">
                <div class="aspect-w-16 aspect-h-9">
                    <img src="/vision-pro.png" class="aspect-content max-h-48 rounded-lg" data-aos="fade-in">
                </div>
                <h3 class="text-2xl p-4" data-aos="fade-up">visionOS</h3>
                <p class="text-lg" data-aos="fade-up">
                    Project the skybox image onto a static sphere programmatically and place it in the scene with the user at the centre.
                </p>
            </div>
        </div>
    </section>

    <section class="flex flex-col items-center space-y-8">
        <h1 class="text-4xl" data-aos="fade-in">The prototype</h1>
        <iframe src="https://player.vimeo.com/video/844899766?h=ab41a358f5&autoplay=0&loop=0" class="w-[70vw] h-[30vh] lg:w-[900px] lg:h-[700px]" allow="autoplay; fullscreen"
        allowfullscreen data-aos="fade-in" />
    </section>
</Prototype>