---
import TitleDetail from '../../layouts/TitleDetail.astro';

interface Props {
    title: string,
    goals: string[];
};

const {
    title,
    goals
} = Astro.props;
---

<TitleDetail title={title}>
        <ol class="font-light">
        {goals.map((goal) => (
            <li>{goal}</li>
        ))}
        </ol>
</TitleDetail>