---
import TitleDetail from '../../layouts/TitleDetail.astro';
import { urlForImage } from '../../sanity/urlForImage';
import { type Image, type PortableTextBlock } from "@sanity/types";
import PortableText from '../PortableText/PortableText.astro';
import type { TechStack } from '../../utils/sanity';

interface GenericTool {
  icon: Image;
  name: string;
  detail: PortableTextBlock;
}

interface Props {
    title: string;
  stack: TechStack;
  includeArrow?: boolean;
}

const { title, stack, includeArrow } = Astro.props as Props;
---

<TitleDetail title={title}>
    <div class="grid lg:grid-cols-3 gap-8">
        {stack.tools.map((tool, index) => (
        <div class="flex flex-col">
            <div class="flex items-start mb-4">
                <div class="flex flex-col flex-grow">
                    <div class="h-32 mb-4 flex items-center justify-start"
                        data-aos="fade-in" data-aos-delay={`${index % 3 * 200}`}>
                        <img src={urlForImage(tool.icon).url()} class="h-full aspect-square">
                    </div>
                    <h3 class="text-xl" data-aos="fade-in" data-aos-delay={`${index % 3 * 200}`}>{tool.name}</h3>
                </div>
                {includeArrow && index !== 2 && (
                <div class="hidden lg:flex items-center justify-center ml-4 h-full">
                    <img src="/arrow.right.svg" class="h-12" data-aos="fade-right"
                    data-aos-delay={`${index % 3 * 100}`} />
                </div>
                )}
            </div>
            <div class="flex-grow" data-aos="fade-in" data-aos-delay={`${index % 3 * 200}`}>
                <PortableText portableText={tool.detail} class:list={'font-light text-lg'} />
            </div>
            {includeArrow && index !== 2 && (
            <div class="flex lg:hidden justify-start mt-4">
                <img src="/arrow.down.svg" class="h-12" data-aos="fade-down" />
            </div>
            )}
        </div>
        ))}
    </div>
</TitleDetail>